<section class="row d-block justify-content-center ml-2 event-alerts">
  <h5 class="section-title col-12 text-center mt-2">upcoming events</h5>
  <h5 class="sub-title col-12 text-center mt-2">12/9-12/29</h5>

  <div class="upcoming-event-view d-block justify-content-center">
    {{#each events}}
    <div class="event-tile">
      <div class="row">
        <div class="col-2 event-icon">
          {{#if (compare title "===" "Birthday")}}
            <i class="fas fa-birthday-cake"></i>
          {{else if (compare title "===" "Christmas")}}
            <i class="fas fa-tree"></i>
          {{else if (compare title "===" "Graduation")}}
            <i class="fas fa-user-graduate"></i>
          {{else if (compare title "===" "Hanukkah")}}
            <i class="fas fa-hanukiah"></i>
          {{else if (compare title "===" "Anniversary")}}
            <i class="fas fa-ring"></i>
            {{else if (compare title "===" "Wedding")}}
            <i class="fas fa-ring"></i>
          {{else if (compare title "===" "Valentine's Day")}}
            <i class="fas fa-heart"></i>
          {{else}}
            <i class="fas fa-gift"></i>
          {{/if}}
        </div>
        <div class="col-8 event-details">
          <p class="contact-name">{{"Person.firstName"}} {{"Person.lastName"}}</p>
          <p class="event-name">{{title}}</p>
          <p class="event-date">{{eventDate}}
            {{#if purchased}}
            <span class="ok-icon"><i class="far fa-calendar-check"></i></span>
            {{else}}
            <span class="missing-icon"><i class="fas fa-gift"></i></span>
            {{/if}}
          </p>
        </div>
        <div class="col-1 delete-icon"><i class="far fa-times-circle"></i></div>
      </div>
    </div>
    {{/each}}
  </div>
</section>